@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    padding-left:50px;
    padding-right:50px;
    padding-top:25px;
    margin:0;
}
.main{
    padding-left:10%;
    padding-right:10%;
    display:inline-block;
}

.logo{
    height:200px;
    width:300px;
}

h3{
    background-color: black;
    color: aqua;
}

a{
    background-color: black;
    color: hotpink;
    text-decoration: none;
}

a:hover{
    color: white;
}

mark{
    background-color: black;
    color: aqua;
}

footer{
background:black;
font-family: MyWebFont;
padding:30px 0px;
text-align:center;
}

footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
}

footer .row a{
text-decoration:none;
transition:0.5s;
}

footer .row a:hover{
color:#fff;
}

footer .row ul{
width:100%;
}

footer .row ul li{
display:inline-block;
margin:0px 30px;
}

footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
footer{
text-align:left;
padding:10%;
}

footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}

footer .row a i{
margin:0% 3%;
}
}
