@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}

body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

header {
    padding: 10px;
    text-align: center;

.header-content {
  font-family: 'Allerta Stencil', sans-serif;
  max-width: 600px;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

.header-sub-content {
    font-family: "Allerta Stencil", sans-serif;
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.9rem;
    color: #333;
}

a {
  color: #333;
  text-decoration: none;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Doppio One", sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    padding: 1rem;

}

.card {
  position: relative;
  margin-top: 3rem;
  width: 600px;
  min-height: 250px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 6px 12px 0 #ff6e61c2;
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  justify-content: center;
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: #333;
}

  
.card-sub-header {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.container {
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }


.upload-form {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin-top: 1.5rem;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin-bottom: 2rem;
  }

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + label {
    background-color: #ff6e61;
    color: #fff;
  }

  label {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.5s;
    text-transform: lowercase;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    letter-spacing: 1.5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8rem 1.6rem;
    border-radius: 25px;
  }
  
  label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 3px rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  label:active:before {
    opacity: 1;
  }
  
  label:hover {
    background-color: #ff6f61;
    color: #fff;
  }
  
  .upload-button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 1.1rem;
    padding: 0.8rem 1.6rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    display: inline-block;
    margin-right: 1rem;
  }
  
  .upload-button:hover {
    background-color: #ff6f61;
    color: #fff;
  }
  
  .alert {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

  
  .alert .message-text {
    background: -webkit-linear-gradient(rgba(255, 166, 0, 0.757), rgba(255, 0, 0, 0.701), magenta);
    background-clip: text;
    font-family: 'Doppio One', sans-serif;
    text-transform: lowercase;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
  }

  div.prediction {
    font-size: 1.2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #333, #555, #333, #555);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Doppio One', sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

footer {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #797979;
  font-family: "Doppio One", sans-serif;
  text-transform: "uppercase";
  font-size: 1.2rem;
  margin-top: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.social-links a {
  margin: 1rem;
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff6f61;
}
