<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    {% load static %}
    <title>ARC</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <header>
        <div class="header-content">
            <h1><a href="javascript:location.reload()">
                    <center>ARC</center>
                </a></h1>
        </div>
        <div class="header-sub-content">
            <h2>
                <center>AI Radiology Copilot</center>
            </h2>
        </div>
    </header>
    <main>
        <div class="card">
            <div class="card-header">
                <h2>Scan Insight</h2>
            </div>
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="button-group">
                        <input type="radio" id="brain" name="choice" value="Brain">
                        <label for="brain">Brain</label>

                        <input type="radio" id="eyes" name="choice" value="Eyes">
                        <label for="eyes">Eyes</label>
                    </div>
                    <div class="button-group">
                        <label for="file1" class="upload-button">Select your image</label>
                        <input type="file" name="file1" id="file1" style="display: none;">
                        <label for="submit-button" class="upload-button">Ask ARC</label>
                        <input type="submit" id="submit-button" style="display: none;">
                    </div>
                </form>
            </div>
            <div class="result-container">
                <div class="prediction">
                    <!-- Send a prediction to the user -->
                    {% if prediction_made %}
                    <p>ARC predicts {{ prediction }} with {{ probability|floatformat:2 }}% confidence</p>
                    {% endif %}
                </div>
                <div>
                    <!-- Send an alert if no image is selected -->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="message-alert">
                        <span class="message-text"
                            style="background: linear-gradient(to right, #ff6f61, #ff8c37, #ff6b81); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{{
                            message }}</span>
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <script>
                // Selecting the alert by ID
                var alertElement = document.getElementById("message-alert");

                // Removing the alert after 5 seconds
                setTimeout(function () {
                    alertElement.style.opacity = "0";
                    setTimeout(function () {
                        alertElement.style.display = "none";
                    }, 500);
                }, 5000);
            </script>
    </main>
    <footer>
        <div class="social-links">
            <a href="https://gitlab.com/vin-br/arc"><i class="fab fa-gitlab" style="font-size: 2rem;"></i></a>
            <a href="https://www.linkedin.com/in/vin-br/"><i class="fab fa-linkedin" style="font-size: 2rem;"></i></a>
            <a href="https://www.mozilla.org/en-US/MPL/2.0/"><i class="fas fa-file-contract"
                    style="font-size: 2rem;"></i></a>
        </div>
        <p>Vincent Boettcher</p>
    </footer>
</body>

</html>